*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  touch-action: manipulation;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

header {
  background-color: darkblue;
  color: whitesmoke;
  font-size: 1.4rem;
  padding: 1rem;
}

.header img {
  max-width: 12rem;
  vertical-align: middle;
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 0.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

#intro {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
  padding: 1rem;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom: 1.4rem;
}

table td {
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding: 0.4rem;
}

thead tr td {
  border-bottom: 1px solid black;
}

/* text column */
.table-size-label {
  font-size: 1.3rem;
}

/* Removes standard ui toggle buttons */
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.select {
  padding: 1rem;
}

/* radio buttons unchecked */
.select label {
  display: inline-block;
  background-color: #e9e9ed;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: slategray;
  margin: 0.5rem 0.4rem;
}

@media (hover: hover) {
  .select label:hover {
    -webkit-appearance: none;
    filter: brightness(0.9);
  }
}

.select input[type="radio"]:checked + label {
  filter: brightness(0.9);
  background-color: darkblue;
  color: white;
}

.material label {
  width: 12rem;
}

.green {
  background-color: #2edd2e;
}

.red {
  background-color: #ff3333;
}

.incrementor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* input number field */
.incrementor input {
  font-size: 18px;
  border-radius: 10px;
  padding: 0.8rem 0rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  border: 1px solid lightgray;
  max-width: 3.3rem;
  user-select: all;
  /* supported by Chrome and Opera */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
}

.button {
  display: inline-block;
  font-size: 18px;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
  box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.17);
  position: relative;
  border: 0;
  text-align: center;
  padding: 0;
}

@media (hover: hover) {
  .button:hover {
    -webkit-appearance: none;
    filter: brightness(0.9);
  }
}

.button:active {
  top: 3px;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.8rem;
  filter: brightness(0.8);
  box-shadow: none;
  margin: 0.1rem;
}

.control-button {
  display: inline-block;
  margin: 1rem;
  font-size: 18px;
  border-radius: 0.5rem;
  width: 12rem;
  height: 3rem;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
  box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.17);
  position: relative;
  border: 0;
  text-align: center;
  padding: 0;
}

@media (hover: hover) {
  .control-button:hover {
    -webkit-appearance: none;
    filter: brightness(0.92);
  }
}

.control-button:active {
  top: 3px;
  width: 11.5rem;
  height: 3rem;
  font-size: 1.85rem;
  filter: brightness(0.8);
  box-shadow: none;
}


body {
  background-color: darkblue;
}

.wrapper {
  min-height: calc(100vh - 30rem);
background-color: white;
}

footer {
  background-color: darkblue;
  color: whitesmoke;
  font-size: 1rem;
  padding: 1rem;
}

.diagram {
  /* border: 1px solid whitesmoke; */
  padding: 0.4rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  min-width: 15rem;
  max-width: 19rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow: auto;
  white-space: nowrap;
}

.diagram div {
  background-color: lightgrey;
  border: 1px dashed black;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.1rem;
  font-size: 0.8rem;
  
}

.pieces div {
  margin-left: auto;
  margin-right: auto;
  background-color: gold;
  color: blue;
  border-radius: 20px;
  width: 12rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}


@media only screen and (min-width: 768px) {
  .diagram {
    /* border: 1px solid whitesmoke; */
    padding: 0.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    overflow: auto;
    white-space: nowrap;
  }
  
  .diagram div {
    background-color: lightgrey;
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.8rem;

  }


  .grid-container {
    display: grid;
    margin: auto;
    max-width: 810px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 740px;
  }

  .input-table {
    grid-area: 1 / 1 / 3 / 2;
  }
  .material {
    grid-area: 1 / 2 / 2 / 3;
  }
  .controls {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
  }
  .diagram {
    grid-area: 1 / 3 / 4 / 4;
    max-height:100%;
  }
  .pieces {
    grid-area: 3 / 2 / 4 / 3;
    align-self: flex-start;
  }
}