*,
*::before,
*::after {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 150px;
    vertical-align: middle;
    margin: 1rem;
    padding-top: 1rem;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    touch-action: manipulation;
}
header {
    background-color: darkblue;
    color: whitesmoke;
    font-size: 1.4rem;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
}

h3{
    font-size: 1.5rem;
    padding: 1rem;
}

footer {
    background-color: darkblue;
    color: whitesmoke;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.container {
    background-color: whitesmoke;
}

#intro {
    font-size: 22px;
    padding: 2.3rem;
}

.add-button, .sub-button {
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0;
    margin: 1rem;
    color: #1565c0;
}

.incrementor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.incrementor input{
    font-size: 18px;
    padding: 8px;
    border-radius: 3px;
    height: 4rem;
    width: 5rem;
    font-size: 1.5rem;
    border: 1px solid lightgray;
    background-color: cornsilk;
}

table{
    margin-bottom: 1rem;
    padding: 10px;
}

thead tr td{
    font-weight: bold;
}

.size-label{
    font-size: 1.5rem;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #e9e9ed;
      padding: 20px 40px;
      font-family: sans-serif, Arial;
      font-size: 1.3rem;
      border-radius: 40rem;
      margin: 5px;
      max-width: 16rem;
      color: slategray;
  }
  
  .radio-toolbar label:hover {
      background-color: #d0d0d7;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: darkblue;
      border-color: darkblue;
      color: whitesmoke;
  }

  .calculate {
    display: inline-block;
    background-color: green;
    padding: 20px 40px;
    font-family: sans-serif, Arial;
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 5px;
    margin-top: 3rem;
    max-width: 16rem;
    color: white;
  }

  .calculate:hover {
    background-color: darkgreen
  }

  .reset {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 20px 40px;
    font-family: sans-serif, Arial;
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 5px;
    max-width: 16rem;
  }
  .reset:hover {
    background-color:darkred;
  }

